<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Management System</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
    <div class="w-full h-screen bg-zinc-800 text-white p-10 flex flex-col items-center justify-center">
        <h3 class="text-3xl mb-10">Welcome to Book <span class="text-orange-500">Management System📑</span></h3>
        <h3 class="text-3xl mb-3">Create Account</h3>
       <form action="/register" class="flex flex-col" method="post">
        <input class="w-120 border-2 px-2 py-2 mb-3 rounded-md bg-zinc-700 outline-none border-zinc-600" type="text" name="fullname" placeholder="fullname">
         <input class="w-120 border-2 px-2 py-2 mb-3 rounded-md bg-zinc-700 outline-none border-zinc-600" type="text" name="email" placeholder="email">
          <input class="w-120 border-2 px-2 py-2 mb-3 rounded-md bg-zinc-700 outline-none border-zinc-600" type="password" name="password" placeholder="password">
          <input class="w-120 border-2 px-2 py-2 rounded-md bg-blue-500 outline-none border-zinc-600" type="submit" value="Create Account">
          <a class="text-blue-500 mt-3 ml-30" href="/login">Already have an account? Login</a>
       </form>
    </div>
</body>
</html>